# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - master
pr:
  branches:
    include:
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  GO111MODULE: 'on'
  GOBIN: '$(GOPATH)/bin'
  GOROOT: '/usr/local/go1.11'
  GOPATH: '$(system.defaultWorkingDirectory)/gopath'
  modulePath: '$(GOPATH)/src/github.com/$(build.repository.name)'

steps:
  - bash: |
      mkdir -p '$(GOBIN)'
      mkdir -p '$(GOPATH)/pkg'
      mkdir -p '$(modulePath)'
      shopt -s extglob
      mv !(gopath) '$(modulePath)'
      echo '##vso[task.prependpath]$(GOBIN)'
      echo '##vso[task.prependpath]$(GOROOT)/bin'
    displayName: 'Set up the Go workspace'
  - script: go mod download
    workingDirectory: '$(modulePath)'
    displayName: 'Go get dependencies'
  - script: go test ./... -v
    workingDirectory: '$(modulePath)'
    displayName: 'Go run tests'
  - task: Go@0
    command: 'build'
    workingDirectory: '$(modulePath)'
