# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - master
pr:
  branches:
    include:
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  GO111MODULE: 'on'
  GOPATH: '$(system.defaultWorkingDirectory)/gopath'
  GOBIN: '$(GOPATH)/bin'
  GOROOT: '/usr/local/go1.11'
  modulePath: '$(GOPATH)/src/github.com/$(build.repository.name)'

steps:
  - bash: |
      mkdir -p '$(GOBIN)'
      mkdir -p '$(GOPATH)/pkg'
      mkdir -p '$(modulePath)'
      echo '##vso[task.prependpath]$(GOBIN)'
      echo '##vso[task.prependpath]$(GOROOT)/bin'
    displayName: 'Set up the Go workspace'
  - bash: |
      curl -sfL https://install.goreleaser.com/github.com/goreleaser/goreleaser.sh | sh
      export PATH=$PATH:$(pwd)/bin/goreleaser
      sudo cp $(pwd)/bin/goreleaser /var/lib/goreleaser
      sudo ln -s /var/lib/goreleaser /usr/local/bin/goreleaser
      rm -rf bin
    displayName: Install goreleaser
    workingDirectory: '$(system.defaultWorkingDirectory)'
  - checkout: self
    path: '$(modulePath)'
  - script: go test ./... -v
    workingDirectory: '$(modulePath)'
    displayName: 'Go run tests'
  - script: goreleaser release --skip-publish --rm-dist
    condition: ne(variables['build.sourceBranch'], 'refs/heads/master')
    workingDirectory: '$(modulePath)'
    displayName: 'Run goreleaser for snapshots'
