# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  tags:
    include:
      - v*
  pr:
    branches:
      include:
        - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  GO111MODULE: 'on'

steps:
  - bash: |
      curl -sfL https://install.goreleaser.com/github.com/goreleaser/goreleaser.sh | sh
      sudo cp $(pwd)/bin/goreleaser /var/lib/goreleaser
      sudo ln -s /var/lib/goreleaser /usr/local/bin/goreleaser
      rm -rf bin
    displayName: Install goreleaser
    workingDirectory: '$(system.defaultWorkingDirectory)'
  - script: goreleaser --snapshot --skip-publish --rm-dist
    condition: ne(variables['build.sourceBranch'], 'refs/heads/master')
    displayName: 'Run goreleaser for snapshots'
  - script: goreleaser --snapshot --rm-dist
    condition: eq(variables['build.sourceBranch']
    displayName: 'Run goreleaser'
